name: reproduire-sur-stackblitz
on:
    issues:
        types:
            opened

permissions:
    issues: write

jobs:
    reproduire-sur-stackblitz:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@ff7abcd0c3c05ccf6adc123a8cd1fd4fb30fb493
            - uses: huang-julien/reproduire-sur-stackblitz@edd77eee0ffdae795c9dfd4e5b3b745740672439
